@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
  scroll-behavior: smooth;
  background-color: #000000;
}

/* Custom scrollbar to keep layout premium, clean and non-distracting */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000000;
}
::-webkit-scrollbar-thumb {
  background: #1f1f23;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2e2e33;
}

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Sans", sans-serif;
}
